extends layout

block content
  .container
    h1= title

    //- .card.mb-4
    //-   .card-body
    //-     pre.json
    //-       //- | #{jj(this)}
    //-       | !{jj({d:startTime})}

    .card
      .card-body
        #info.json
          | {"state": "ok"}

    .my-3

    #btn1.btn.btn-primary Get
